@font-face {
  font-family: "OldNewspaperTypes";
  src: local("OldNewspaperTypes"),
    url("./assets/fonts/OldNewspaperTypes.ttf") format("truetype");
}

@font-face {
  font-family: "JSL-Blackletter";
  src: local("JBLACK"), url("./assets/fonts/JBLACK.ttf") format("truetype");
}

.buttonContainer {
  display: flex;
}

.sheetContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.button {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.box {
  border: 3px solid black;
  min-height: 50px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.label {
  font-family: "OldNewspaperTypes";
  font-size: x-large;
}

.title {
  font-family: "JSL-Blackletter";
  font-size: 60px;
  text-align: center;
}

.value {
  text-align: center;
  font-size: x-large;
}

.largeValue {
  font-size: 60px;
  text-align: center;
}

.rightValue {
  text-align: right;
  font-size: x-large;
}

.underlined {
  text-decoration: underline;
}

.mainGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 18px;
}

.statsAndAttacksColumn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-area: 1 / 1 / 2 / 2;
}
.nameRaceClassColumn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-area: 1 / 2 / 2 / 3;
}
.talentsGearColumn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-area: 1 / 3 / 2 / 4;
}

.statsRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr) 1.5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-area: 1 / 1 / 2 / 2;
}
.attacksRow {
  grid-area: 2 / 1 / 3 / 2;
}

.strGrid {
  grid-area: 1 / 1 / 2 / 2;
}
.dexGrid {
  grid-area: 2 / 1 / 3 / 2;
}
.conGrid {
  grid-area: 3 / 1 / 4 / 2;
}
.intGrid {
  grid-area: 1 / 2 / 2 / 3;
}
.wisGrid {
  grid-area: 2 / 2 / 3 / 3;
}
.chaGrid {
  grid-area: 3 / 2 / 4 / 3;
}
.hpGrid {
  grid-area: 4 / 1 / 5 / 2;
}
.acGrid {
  grid-area: 4 / 2 / 5 / 3;
}

.nameGrid {
  grid-area: 1 / 1 / 2 / 2;
}
.raceGrid {
  grid-area: 2 / 1 / 3 / 2;
}
.classGrid {
  grid-area: 3 / 1 / 4 / 2;
}
.levelXpGrid {
  grid-area: 4 / 1 / 5 / 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.titleGrid {
  grid-area: 5 / 1 / 6 / 2;
}
.alignmentGrid {
  grid-area: 6 / 1 / 7 / 2;
}
.backgroundGrid {
  grid-area: 7 / 1 / 8 / 2;
}
.deityGrid {
  grid-area: 8 / 1 / 9 / 2;
}

.talentsGrid {
  grid-area: 1 / 1 / 2 / 2;
}
.gearGrid {
  grid-area: 2 / 1 / 3 / 2;
}

.levelGrid {
  grid-area: 1 / 1 / 2 / 2;
}
.xpGrid {
  grid-area: 1 / 2 / 2 / 3;
}

footer {
  margin-top: 50px;
  font-size: 14px;
}

.gearBoxGrid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 2px;
  grid-auto-flow: row;
}

.gearBox1 {
  grid-area: 1 / 1 / 2 / 2;
}

.gearBox2 {
  grid-area: 1 / 2 / 2 / 3;
}

.gearBox3 {
  grid-area: 1 / 3 / 2 / 4;
}
